@model MedicalAppointmentsManagement.Models.APPOINTMENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>APPOINTMENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.startSlotTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startSlotTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endSlotTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endSlotTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCTOR.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCTOR.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PATIENT.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PATIENT.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.date }) |
    @Html.ActionLink("Back to List", "Index")
</p>
