@model MedicalAppointmentsManagement.Models.APPOINTMENT

@{
    ViewBag.Title = "Edit";
}

@* Label *@
<div class="row">
    <div class="col-md-6 col-9 col-xl-4 mx-auto">
        <h1 class="display-5">Edit</h1>
    </div>
</div>


@using (Html.BeginForm()) 
{

    @* Edit *@
    <div class="row">
        <div class="col-md-6 col-9 col-xl-4 mx-auto">
            <div class="border border-dark bg-dark rounded p-2">
                <h1 class="display-6 pb-1">
                    Appointment
                </h1>
                @if (ViewData["Error"] != null)
                {
                    @Html.Partial("_StatusMessages")
                }
                <div id="emailHelp" class="form-text">Remember time is money.. Be sure for your appointment!</div>
                <div id="emailHelp" class="form-text">Working hours: 09:00 am - 08:00 pm</div>


                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="mb-3">
                    @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.startSlotTime, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.startSlotTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.startSlotTime, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @if (Session["UserAMKA"] == null)
                    {
                        @Html.LabelFor(model => model.PATIENT_patient, htmlAttributes: new { @class = "form-label" })
                        @Html.DropDownList("PATIENT_patient", (SelectList)ViewBag.PATIENT_patient, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PATIENT_patient, "", new { @class = "text-danger" })
                    }
                    @if (Session["doctorAMKA"] == null)
                    {
                        @Html.LabelFor(model => model.DOCTOR_username, htmlAttributes: new { @class = "form-label" })
                        @Html.DropDownList("DOCTOR_username", (SelectList)ViewBag.DOCTOR_username, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DOCTOR_username, "", new { @class = "text-danger" })
                    }
                </div>
                <button type="submit" class="btn btn-outline-primary">Save</button><br />
                @Html.ActionLink("Cancel", "Index")
            </div>
        </div>
    </div><br>
}