@{
    ViewBag.Title = "Menu";
}

<div class="row">
    <div class="col-lg-6 mx-auto">
        <h1 class="display-5">Menu</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="border border-dark bg-dark rounded p-2">
            <p class="lead">Welcome @Session["UserName"].ToString()! How are you today?</p>
        </div>
    </div>
</div><br>

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="border border-dark bg-dark rounded p-2">
            <h1 class="display-6 pb-1">Appointment</h1>
            <p class="lead">Create an appointment</p>
            <a href="../Appointments/Create" type="button" class="btn btn-outline-primary">Create</a>
            <p class="lead pt-2">View appointmens</p>
            <a href="../Appointments" type="button" class="btn btn-outline-primary">View</a>
        </div>
    </div>
</div><br>

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="border border-dark bg-dark rounded p-2">
            <h1 class="display-6 pb-1">Profile</h1>
            <p class="lead">View profile</p>
            @Html.ActionLink("View", "Details", new {id = @Session["doctorAMKA"].ToString()}, new {@class = "btn btn-outline-primary" })
            <p class="lead pt-2">Edit Profile</p>
            @Html.ActionLink("Edit", "Edit", new {id = @Session["doctorAMKA"].ToString()}, new {@class = "btn btn-outline-primary" })
            @* Future delete profile *@
            @* <p class="lead pt-2 text-danger">Delete account</p>
            @Html.ActionLink("Delete", "Delete", new {id = @Session["doctorAMKA"].ToString()}, new {@class = "btn btn-outline-danger" }) *@
        </div>
    </div>
</div><br>